---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'base/var';
@import 'base/mixins';

@import 'vendor/normalize';
@import 'base/defaults';

@import 'module/article';
@import 'module/content';
@import 'module/overlay';
@import 'module/site-footer';
@import 'module/site-header';

@import 'layout/home';

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 72em;
    padding-right: 1em;
    padding-left: 1em;

    @media (min-width: $screen-md) {
        width: 80%;
    }
}

.site-header {
    background: $base3;
    left: 0;
    padding: 1em;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity $transition-duration;
    width: 100%;
    z-index: 1;

    a[rel='home'] {
        @include font-size-medium;

        color: $base01;
        display: inline-block;
        font-family: $font-sans-serif;
        font-weight: 700;
        line-height: 1;
        text-decoration: none;
    }
}

/** 'Scrolled' state */

.is-scrolled.site-header {
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}
