---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'base/var';
@import 'base/mixins';

@import 'vendor/normalize';
@import 'base/defaults';

@import 'module/article';
@import 'module/content';
@import 'module/overlay';
@import 'module/site-footer';
@import 'module/site-header';

@import 'layout/home';

.wrapper {
    @include horizontal-padding;

    margin-right: auto;
    margin-left: auto;
    max-width: 72em;

    @media (min-width: $screen-lg) {
        width: 80%;
    }
}
