/* ==========================================================================
   Site Footer
   ========================================================================== */

.site-footer {
    @include clearfix;

    color: mix($base01, $green, 80%);
    margin: 0 -.5em 1em;

    a {
        color: inherit;

        &:focus,
        &:hover,
        &:active {
            color: $base03;
        }
    }
}
.site-footer__left,
.site-footer__right {
    padding: 0 .5em;

    @media (min-width: $screen-md) {
        float: left;
    }
}
.site-footer__left {
    @media (min-width: $screen-md) {
        width: 66.67%;
    }

    p {
        margin: 0;
    }
}
.site-footer__right {
    font-family: $font-sans-serif;

    @media (min-width: $screen-md) {
        width: 33.33%;
    }

    p {
        @include font-size-small;

        margin: 0;

        + p {
            margin-top: .75em;
        }
    }
}
