<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="content">
            <div class="content-page content-page-1 is-active">
                <div id="page-1-content" class="wrapper">

                    {{ content }}

                </div>
                <div class="wrapper">
                    <footer id="about" class="site-footer" role="contentinfo">
                        <div class="site-footer__left">
                            <p>{{ site.description }}</p>
                        </div>
                        <div class="site-footer__right">
                            <p>A fun project by <a href="http://swashcap.com/" rel="author">Cory Reed</a>. See the <a href="https://github.com/swashcap/page-transition">source code on GitHub</a>.</p>
                            <p>Text set in <a href="https://www.google.com/fonts/specimen/Droid+Sans">Droid Sans</a> and <a href="https://www.google.com/fonts/specimen/Droid+Serif">Droid Serif</a>. Color scheme and design inspired by <a href="https://dribbble.com/shots/2049779-IMM-Brand-Stationery">Andrew Littman’s Dribbble shot</a>.</p>
                        </div>
                    </footer><!-- .site-footer -->
                </div>
            </div>
            <div class="content-page content-page-2">
                <div id="page-2-content" class="wrapper"></div>
            </div>
        </div><!-- .content -->

        <div class="overlay"></div>

        {% include footer.html %}

    </body>

</html>
