/* ==========================================================================
   Home
   ========================================================================== */

.home {

}

/* Layout
   ========================================================================== */

%home-item-small {
    float: left;
    width: 50%;

    .article-mini {
        height: 8em;
    }

    @media (min-width: $screen-md) {
        width: 25%;

        .article-mini {
            height: 10em;
        }
    }
}
%home-item-regular {
    .article-mini {
        height: 10em;
    }

    @media (min-width: $screen-md) {
        float: left;
        width: 33.33%;

        &:nth-of-type(3n + 1) {
            clear: left;
        }

        .article-mini {
            height: 14em;
        }
    }
}
%home-item-medium {
    .article-mini {
        height: 10em;
    }

    @media (min-width: $screen-md) {
        float: left;
        width: 50%;

        .article-mini {
            height: 18em;
        }
    }
}
%home-item-large {
    .article-mini {
        height: 14em;
    }

    @media (min-width: $screen-md) {
        float: left;
        width: 75%;

        .article-mini {
            height: 21em;
        }
    }
}

.home-group {
    @include clearfix;

    margin: 0 -.5em;

    .item {
        margin-bottom: 1em;
        padding-right: .5em;
        padding-left: .5em;
    }
}

.home-group-1 {
    .item-1 {
        @extend %home-item-large;
    }
    .item-2,
    .item-3 {
        @extend %home-item-small;
    }
}
.home-group-2 .item {
    @extend %home-item-medium;
}
.home-group-3 {
    .item-6 {
        @extend %home-item-large;

        @media (min-width: $screen-md) {
            float: right;
        }
    }
    .item-7,
    .item-8 {
        @extend %home-item-small;
    }
}

.home-group-4 .item {
    @extend %home-item-regular;
}
