/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin font-size-medium {
    font-size: 125%;
}
