// _var.scss

$base03: #02284c;
$base02: #0e3060;
$base01: #155487;
$base1:  #53d2e0;
$base2:  #bae4f2;
$base3:  #fffcf7;

$yellow: #e2b97f;
$green:  #bbd3d3;

$font-sans-serif: 'Droid Sans', sans-serif;
$font-serif: 'Droid Serif', Georgia, serif;

$animation-duration: 500ms;

$transition-duration: 250ms;

$screen-sm: 22em;
$screen-md: 36em;
$screen-lg: 65em;
